.sci-header-user {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--dl-color-white);
  text-transform: uppercase;
  font-weight: 700;
}
.sci-header-user .sci-name-user {
  font-size: 11px;
}
