.sci-login {
  width: 70%;
  height: auto;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sci-login .sci-or-signin {
  width: 100%;
  display: block;
  border-top: 1px solid var(--dl-color-grey-light);
  margin: 40px 0 0;
  padding: 40px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.forgot-password {
  margin: 20px 0 0;
}

.button-login {
  margin-top: 28px;
}
input {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 0 8px;
  max-width: 100%;
  min-width: 0px;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  max-height: 32px;
  outline: 2px solid rgba(0, 0, 0, 0.87);
  transition: border 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  align-items: flex-start;
  font-size: 16px;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
  padding-left: 8px;
  border-radius: 4px;
}
@media screen and (max-width: 991px) {
}
