.sci-login {
    width: 70%;
    height: auto;
    margin: 40px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sci-login .sci-or-signin {
    width: 100%;
    display: block;
    border-top: 1px solid var(--dl-color-grey-light);
    margin: 40px 0 0;
    padding: 40px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.forgot-password {
    margin: 20px 0 0;
}

.button-login{
    margin-top: 28px;
}

@media screen and (max-width: 991px){
    
}