@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  font-size: 12px;
  font-family: "Montserrat", "sans-serif" !important;
  line-height: 1.6em;
}
body {
}
h1,
h2,
h3,
h4 {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #dc0714 !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000 !important;
}
