@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: "fontSecundaria";
  src: local("Avallon Alt"), local("Avallon-Alt"),
    url("/assets/fonts/Avalon/AvallonAlt.woff2") format("woff2"),
    url("/assets/fonts/Avalon/AvallonAlt.woff") format("woff"),
    url("/assets/fonts/Avalon/AvallonAlt.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --dl-color-primary: #dc0714;
  --dl-color-secondary: #d8b973;
  --dl-color-terciaria: #575756;
  --dl-color-quaternaria: #f2ebe2;
  --dl-color-quinquenario: #e7e7e7;
  --dl-color-black: #261b1c;
  --dl-color-red-mid: #65383e;
  --dl-color-red-dark: #3b2427;
  --dl-color-orange: #f18700;
  --dl-color-orange-light: #ffeed8;
  --dl-color-red-light: #f7e3e2;
  --dl-color-white: #ffffff;
  --dl-color-grey-light: #f1f1f1;
  --dl-color-grey: #999999;
  --dl-color-grey-mid: #cccccc;
  --dl-color-green: #76962e;
  --dl-color-green-light: #ebf3da;

  --font-secondary: var(fontSecundaria);
}
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  font-size: 12px;
  font-family: "Montserrat", "sans-serif";
  line-height: 1.6em;
}
body {
}
h1,
h2,
h3,
h4 {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #dc0714 !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000 !important;
}
